*{
    padding: 0;
    margin: 0;
  }

  header{
    min-height:60rem;
    background: url(images/bg4.png) center/cover no-repeat fixed;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
  
  }
 
  .navbar{
    padding: 2rem;
    height: 4rem;
    display: block;
    text-align: center;
    position:  fixed;
  }

  
  .banner{
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
  }
 
  
  .text{ 
    
    padding: 40px 500px;
    text-align: justify;
    text-justify: inter-word;
    justify-content: center;
    background-color: #c3b091
   
   }
  .cont{
    
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
    background-color: #c3b091 ;
  
  
}
  
  footer{
    background-color:#796144 ;
    color: #fff;
    text-align: center;
    padding: 0;
    margin-top: 0 ;
  
  }
  .social-links{
    display: flex;
    justify-content: center;
    margin-bottom: 1.4rem;
  }
  .social-links a{
    border: 2px solid #fff;
    color: #fff;
    display: block;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    text-decoration: none;
    margin-top: 1.4rem;
  
  
}

@media only screen and (max-width:768px){
  .cont .box{
      flex-direction: column;
      
  }
  .cont .box .columns{
      width: 100%;
  }

}
@media only screen and (max-width:600px){
  .cont .heading{
      width: 100%;
  }
  .cont .heading h3{
      font-size: 1em;
      
  }
 
}
@media only screen and (max-width: 768px){
  .text{
  padding: 10%;
  }
.container .col-8{
  flex: 0 0 auto;
  width: 100%;
}
.carouselExampleFade{
 
  width: 100%;
}
  }
  
  
   
  
  
  